:root {
	--text-info: #9D9D9D;
	--dark-bg:  #2B3337;
}

body {
	background: #1C2022;
	color: var(--text-info);
}

.logo {
	height: 0px;
}

.logo img{
	padding: 5px;
    max-height: 40px;
}

.grid {
	display: grid;
	grid-gap: 10px;
	grid-template-columns: repeat(7, 100px);
	grid-template-rows: 100px 100px 25px 100px;
	place-content: center;
    height: 100vh;
}

.box {
	border: 2px solid black;
	border-radius: 5px;
}

.main {
	grid-column: 1 / span 2;
	grid-row: 1 / span 2;
}

.red {
	background: red;
}

.green {
	background: green;
}

.blue {
	background: blue;
}

.yellow {
	background: yellow;
}

.box:nth-child(n+4){
	grid-row: 2;
} 

.box:nth-child(n+2):hover {
	cursor: pointer;
	filter: brightness(85%);
}

.table thead th {
	background: var(--dark-bg);
	border: var(--dark-bg);
	color: var(--text-info);
}
.table tr {
    color: black;
}
.table tr:nth-child(1) {
	background: gold;
}

.table tr:nth-child(2) {
	background: #c0c0c0;
}

.table tr:nth-child(3) {
	background: #cd7f32;
}

#gameState {
	grid-column: 1 / span 2;
}

#score {
	grid-column: 3 / span 2;
}

#settings {
	grid-row: 1;
	grid-column: 6 / span 2;
}

#highscores {
	grid-column: 1 / span 7;
}
*,
*::before,
*::after {
    box-sizing: border-box;
}

input[type=number], input[type=text], select {
  background:  var(--dark-bg);;
  border-bottom: 1px solid #506671;
  color: var(--text-info);
  width: 100%;
}

input[type=submit] {
  background: steelblue;
  width: 80%;
  text-transform: uppercase;
  font-weight: bold;
}

input[type=submit]:hover {
	background: #396a93;
	cursor: pointer;
}
